<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>Icon</string>
		<string>Icon-58</string>
		<string>Icon-29</string>
		<string>Icon-80</string>
		<string>Icon-40</string>
		<string>Icon-100</string>
		<string>Icon-50</string>
		<string>Icon-144</string>
		<string>Icon-76</string>
		<string>Icon-152</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.fightingwalrus.igcs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIdentifier</key>
			<string>com.CloudStream-Gaming.iGCS</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb370970953018525</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>35</string>
	<key>FacebookAppID</key>
	<string>370970953018525</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.fightingwalrus.telemetry</string>
		<string>com.fightingwalrus.config</string>
		<string>com.RovingNetworks.btdemo</string>
		<string>com.redpark.serdb9</string>
		<string>com.fightingwalrus.update</string>
		<string>com.redpark.serEval</string>
		<string>com.redpark.hobdb9</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
